*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.fixed{
  position: sticky;
  top: 0;
  z-index: 100;
}
.header_container{
  background-color:#036444;
  display: flex;
  /* gap: 10px; */
  align-items: center;
  color: white;
  height: 48px;
  cursor: pointer;
  /* width: 100%; */
}
.logo_container{
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 250px;
}
.logo_container_img{
  width: 100px;
  margin-top: 10px;
  padding: 8px 5px 0px 5px;
 
}
.logo_container{
  /* width: 80%; */
  /* padding-top: 5px; */
  margin-left: 5px;
  vertical-align: middle ;
  flex-basis: 18%;
}
.logo_container_img:hover{
  outline: 1px solid #fff;
}
.deliver{
  display: flex;
  flex-direction: column;

}
.deliver span{
  font-weight: bold;
}
 .deliver_container{
  display: flex;
  justify-content: center;
  align-items: center;
  /* gap: 3px; */
  padding: 2px;
  font-size: 15px;
} 
.deliver_container span :first-child{
  padding-top: 14px;
  font-size:32px;
  font-weight: bold;
}
.deliver p {
  font-size: 10px ;
}
.deliver_container:hover{
  outline: 1px solid #fff;
}
.search{
  display: flex;
  align-items: center;
  justify-content: center;
 overflow: hidden;
  border-radius: 7px;
  flex-basis: 30%;
  flex: 1;
}
.search select,
.search input{
  padding: 8px;
  font-weight: bold;
  outline: 1px solid white;
}
.search input{
  outline: 1px solid white;
  width: 90%;
  /* margin-right: -2px; */
}
.search select{
outline: none;
background-color: #c3c2c2;
color: #00000075;
}
.search svg{
 padding: 5px;
  background: #941a63;
  color: #ffffff;
width: 33px;
height: auto;
}
.search svg :hover{
  background-color: #d49644;
}
.search:focus-within{
  outline: 2px solid rgb(235,161,173);
}
.en_icon{
  display: flex;
}
.flag_en{
  display: flex;
  align-items: center;
  /* padding: 0.5px; */
  margin-right: 5px;
}
.flag_en:hover{
  outline: 1px solid #fff;
}
.order_container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-basis: 28%;
  width: 70px;
}
.order_container a{
  text-decoration: none;
  color: white;

}
.order_container p{
  font-size: 10px;
}
.order{
  display: flex;
  align-items: center;
}
.language{
  width:45px;
  display: flex;
  padding: 10px;
}
.language select{
  background-color: #1a1a1a;
  outline: none;
  color: white;
}
.language img{
  width: 40%;
}
.acount{
  display: flex;
  width: 110px;
}
.en{
  padding-right: 2px;
  margin-top: 4px;
  font-size: 10px;
}
.sign_acount{
  display: flex;
  flex-direction: column;
  padding: 3px;
}
.sign_acount p{
  font-size: 10px;
  padding: 2px;
  /* gap: 5px; */
}
.sign_acount span{
  font-size: 12px;
  /* padding-right: 0.5rem; */
font-weight: bold;
}
.hello_icon{
  display: flex;
  align-items: center;
}
.sign_acount:hover{
  outline: 1px solid #fff;
}
.returns_orders{
  display: flex;
  flex-direction: column;
/* padding-right: 15px; */
  padding: 5px;
}
.returns_orders p{
  font-size: 10.5px;
}
.returns_orders span{
  font-size: 13px;
  font-weight: bold;
}
.returns_orders:hover{
  outline: 1px solid #fff;
}
 .cart{
  margin-top: 5px;
padding: 5px;
position: relative;
margin-left: 4px;
display: flex;
 }
 .cart p{
padding-top: 15px;
font-size: 12px;
font-weight: bold;
}
 .cart span{
  position: absolute;
  top: -5px;
  left: 13px;
  color: #febd69;
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 10px;
 }
 .cart svg{
  font-size: 27px;
  /* padding: 5px; */
 }
.cart:hover{
  outline: 1px solid #fff;
}
.all:hover{
  outline: 0.8px solid #fff;
}
.lower_container{
  background-color: #085749;
  color: white;
  font-size: 8px;
  display: flex;
  gap: 10px;
  cursor: pointer;
}
.lower_container ul{
  display: flex;
  list-style: none;
  gap: 10px;
align-self: center;
}
.lower_container ul li{
  padding:5px;
  margin-left: -10px;
  font-size: 12px;
}
.lower_container ul li:first-child{
  gap: 2px;
  align-items: center;
}

.lower_container svg{
  padding-top: 1px;
  font-size: 21px;
  margin-left: 3px;
}
.all_list li:hover{
outline: 0.8px solid #fff;
}
@media screen and (max-width:576px) {
  .header_container{
    display: flex;
    flex-direction: column !important;
    height: auto;
  }
  .lower_container ul list-style:not(:first-child){
    display: none;
  }
  .language{
    display: none;
  }
}